* {
    text-align: center;
    font-family: sans-serif;
}

.image-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.image {
    list-style: none;
    flex-grow: 1;
    width: 50%;
}

.per-image {
    width: 100%;
}

button {
    border: 0;
    outline: none;
    box-shadow: 2px 3px 1px #1757c9;
    background-color: cornflowerblue;
    color: #fff;
    cursor: pointer;
    transition: all .03s linear;
    border-radius: 5px;
    margin: 5px;
}

button:active {
    box-shadow: 2px 2px 1px #1757c9;
    transform: translateY(3px);
}

@media all and (min-width: 1024px) {
    .image-grid {
        width: 70%;
        margin: 0 auto;
    }
    .image {
        width: 25%;
        margin: 1%;
    }
}
